# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pot
*.pyt
*.mo
*.db
instance/
.webassets-cache
.pytest_cache/
.hypothesis/
.venv
.venv2
venv/
VENV/
env/
ENV/
venv.bak/
env.bak/

# Node
node_modules/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.yarn/
.yarn-integrity

# Secrets
backend/config.py
backend/config.yaml
frontend/.env
python_scripts/v2/accounts.json
backend/accounts.json
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
*~